.Order {
  width: 100%;
  padding: 40px 0px;
  background: #fafcfd;
}

.OrderContent {
  width: 100%;
  max-width: 400px;
  margin: 0px auto;
}

.Form {
  width: 100%;
}

.Additives {
  width: 100%;
  padding: 40px 0px;
}

.InputContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.InputContainer:not(:last-child) {
  margin-bottom: 12px;
}

.Input {
  width: 30px;
  height: 30px;
}
.InputLabel {
  font-size: 16px;
  margin-left: 10px;
}

